header{
    width: 100%;
    height: 188px;
    background:#fff;
    box-shadow: 0px 2px 2px #eeeeee;
    .headTop{
        width: 100%;
        height: 30px;
        background: #3e3a39;
        .head-Top{
            width: 1198px;
            height: 30px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            .head-Top-ul-1,.head-Top-ul-2{
                display: flex;
            }
            .head-Top-ul-1{
                li{
                    a{
                        font-size:12px;
                        color:#ccc;
                        &:hover{
                            color:  rgba(204,204,204,0.8);
                        }
                    }
                }
                li:nth-of-type(2){
                    a{
                        
                        margin: 0 20px;
                    }
                }
                
            }
            .head-Top-ul-2{
                li:nth-of-type(1){
                        img{
                            display: inline-block;
                            margin-left: 5px;
                            width: 12px;
                            height: 12px;
                            transition: all 0.2s steps(5)
                            }
                      &:hover{
                          img{
                              transform: rotateZ(180deg); 
                          }
                          
                      }
                }
                li{
                    padding: 0 11px 0 17px;
                    a{
                        color: #ccc;
                        font-size: 12px;
                    }
                    &:hover{
                        a{
                            color:  rgba(204,204,204,0.8);
                        }
                    }
                }
            }
            .head-more{
                width: 95px;
                height: 180px;
                background:#fff;
                position: absolute;
                top: 37px;
                right: 65px;
                box-shadow: 2px 2px 5px #ccc;
                display: none;
                opacity: 0.2;
                z-index: 9999;
                ul{
                    li{
                        text-align: center;
                        height: 29px;
                        line-height: 30px;
                        border-bottom: 1px dashed #ccc;
                        &:hover{
                            background:#f7f7f7;
                        }
                    }
                    li:last-of-type{
                         border-bottom: none;
                    }
                }
            }
        }
    }
    .logo{
            width:100%;
            height:121px;
           .logo-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width:1198px;
                height:121px;
                margin:0 auto;
            }
            .logo-center{
                form{
                        display: flex;
                        align-items: center;
                        width:479px;
                        height:36px;
                        border:2px solid #e73736;
                        #user{
                            width:422px;
                            height:36px;
                            border:none;
                            color:#d0d0d0;
                            font-size:12px;
                            padding-left: 10px;
                            line-height: 36px;
                        }
                        #logo-btn{
                            text-align: center;
                            width:80px;
                            height:36px;
                            border:none;
                            background:#e73736;
                            color:#fff;
                            line-height: 36px;
                            letter-spacing:5px;
                            font-size:16px;
                            padding-left:7px;
                            &:hover{
                                cursor:pointer;
                            }
                        }
                    }
                    ul{
                        display: flex;
                        margin-top: 3px;
                        margin-left: 2px;
                        li{
                            margin-right: 10px;
                            
                            a{
                                font-size: 12px;
                                color: #d0d0d0;
                            }
                            &:hover{
                                a{
                                 color: #e73736;
                                 }   
                            }
                        }
                    }
                }
            }
            
    .shopcar{
        width: 179px;
        height: 36px;
        border: 2px solid #f7f7f7;
        margin-top: -20px;
        position: relative;
        i{
            display: inline-block;
            width: 55px;
            height: 34px;
            background: #fff url(../img/shopcar2.jpg) no-repeat center center;
            vertical-align: middle;
        }
        .shopcar-s1{
            display: inline-block;
            line-height: 36px;
            vertical-align: middle;
            font-size: 12px;
            width: 120px;
            text-align: center;
            background: #f7f7f7;
            color: #666666;
            &:hover{
                color:rgba(102,102,102,0.8);
            }
            em{
                font-size:14px;
                padding-left: 5px;
            }
        }
        .shopcar-s2{
            display: block;
            width:23px;
            height: 23px;
            background:#e63736;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            line-height: 24px;
            position: absolute;
            top:-15px;
            left: 17px;
        }
    }
    nav{
        width: 1198px;
        height: 38px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        >p{
            height: 38px;
            line-height: 38px;
            padding: 0 56px;
             color: #333;
                    font-size: 14px;
                    &:hover{
                         color: #e73736;
                    }
        }
        .nav-1{
            display: flex;
            li{
                padding:0 25px;
                line-height: 38px;
                a{
                    display: block;
                    height:36px;
                    color: #333;
                    font-size: 14px;
                    &:hover{
                          color: #e73736;
                           border-bottom: 2px solid #e73736;
                    }
                }
                
            }
            .active{
                a{
                    display: block;
                    height:36px;
                    color: #e73736;
                    border-bottom: 2px solid #e73736;
                }
            }
        }
        .nav-2{
            display: flex;
            margin-left: 40px;
            li{
                margin-left:16px ;
                height: 38px;
                line-height: 38px;
                padding-left: 24px;
                font-size: 12px;
                color: #999999;
            }
            li:nth-of-type(1){
                background: url(../img/zhengpin.png) no-repeat left center;
            }
            li:nth-of-type(2){
                background: url(../img/mianshui.png) no-repeat left center;
            }
            li:nth-of-type(3){
                background: url(../img/wuliu.png) no-repeat left center;
            }
        }
    }
    .nav-3{
        width: 210px;
        height: 400px;
        background: #3e3a39;
        position: absolute;
        top: 38px;
        left: 0;z-index: 9999;
        display: none;
        ul{
            li{
                &:hover{
                    background: rgba(85,85,85,0.6) url(../img/goods-line.png) repeat-y;
                    
                }
                height: 80px;
                p{
                    padding-top: 18px;
                    padding-left: 30px;
                    padding-bottom: 16px;
                    color: #cfcfcf;
                    font-size: 16px!important;
                    a{
                        padding-left: 15px;
                        font-size: 16px;
                         color: #fff;
                    }
                }
                span:nth-of-type(1){
                    padding-left:23px;
                    a{
                        color: #fff;
                    font-size: 12px;
                    &:hover{
                        text-decoration: underline;
                    }
                    }
                    
                }
                 span:nth-of-type(2){
                    padding-left: 13px;
                    a{color: #fff;
                    font-size: 12px; &:hover{
                        text-decoration: underline;
                    }}
                }
            }
        }
    }
    .nav-4{
        width: 988px;
        height: 400px;
         position: absolute;
        top: 38px;
        left: 210px;
        box-shadow: 2px 2px 2px #eee;
        z-index: 9999;
        display: none;
        background: #fff;
        dl:nth-of-type(1){
            padding: 38px 0 0 108px;
            dt{
               float: left;
               padding-right: 25px;
               font-size: 12px;
               color: #e93736;
            }
            dd{
               float: left;
               width: 790px;
               
               p{
                   display: inline-block;
                   width: 118px;
                   a{
                       color: #666666;
                       font-size: 10px;
                       &:hover{
                           color: #e93736;
                       }
                   }
               }
               p:nth-of-type(7){padding-top: 19px;}
            }
        }
        dl:nth-of-type(2){
            dt{
                padding: 35px 0 0 55px;
               float: left;
               padding-right: 25px;
               font-size: 12px;
               color: #e93736;
            }
            dd{
               float: left;
               width: 790px;
               padding-top: 35px;
               p{
                   display: inline-block;
                   width: 118px;
                   a{
                       color: #666666;
                       font-size: 10px;
                       &:hover{
                           color: #e93736;
                       }
                   }
               }
               p:nth-of-type(7){padding-top: 19px;}
            }
        }
    }
}

section{
    width: 100%;
    .content{
        width: 1198px;
        margin: 0 auto;
        .cont-t{
            width: 1198px;
            height: 48px;
            line-height: 48px;
            border-bottom: 1px solid #333;
            p{
                display: inline-block;
                color: #666666;
                font-size: 12px;
                a{
                    color: #666666;
                    font-size: 12px;
                }
               
            }
            p:nth-of-type(2){
                margin-left: 385px;
                &:hover{
                    a{
                        color: #e93736;
                    }
                }
            }
        }
        .cont-m{
            width: 1196px;
            height: 488px;
            border-bottom: 1px solid #d9dbe8;
            border-left: 1px solid #d9dbe8;
            border-right: 1px solid #d9dbe8;
            .cont-m-L{
                float: left;
                width: 420px;
                height: 476px;
                position: relative;
                padding-top: 12px;
                margin-right: 8px;
                .small-img{
                    width: 400px;
                    height: 400px;
                    margin: 0 7px 0 12px;
                    position: relative;
                    img{
                        position:absolute;
                         top:0;
                         left:0;
                         }
                    img:nth-of-type(1){
                        z-index: 1;
                    }
                    .mask{
                        width: 200px;
                        height: 200px;
                        background:url(../img/good1.jpg) no-repeat 0 0;
                        cursor:move; 
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 9999;
                        display: none;
                    }
                    .layer{
                        width: 400px;
                        height: 400px;
                        background: #eee;
                        opacity: 0.5;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: none;
                        z-index: 9998;
                    }
                }
                .bottom-img{
                    width: 330px;
                    height: 58px;
                    ul{
                        display: flex;
                        margin:5px 0 15px 35px;
                        
                        li{
                            width: 56px;
                            height: 56px;
                            border: 1px solid #eee;
                            margin-left: 8px;
                            img{
                                width: 56px;
                                height: 56px;
                            }
                        }
                        .active1{
                            border:1px solid #e73736;
                        }
                    }
                }
                .big-img{
                    width:400px;
                    height: 400px;
                    border:1px solid #333;
                    overflow: hidden;
                    position: absolute;
                    top: 12px;
                        display: none;
                        z-index: 9999;
                    left: 420px;
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    img:nth-of-type(1){
                        z-index: 1;
                    }
                }
            }
            
            .cont-m-M{
                width: 570px;
                height: 488px;
                float: left;
                >h3{
                    width: 540px;
                    height: 60px;
                    margin-left: 5px;
                    border-bottom: 1px solid #eee;
                    img{
                        width: 25px;
                        height: 25px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    span{
                        height: 60px;
                        color: #6c3333;
                        line-height: 60px;
                        font-size: 18px;
                        margin-left: 10px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .cont-m-M-b{
                    margin-left:10px;
                    .cont-m-M-p1{
                        margin-top: 15px;
                        font-size: 14px;
                       color: #333;
                       span{
                           margin-left: 20px;
                           font-size: 12px;
                           text-decoration: line-through;
                           color: #999999;
                       }
                    }
                    .cont-m-M-p2{
                        line-height: 20px;
                        height: 20px;
                        margin-top: 17px;
                        position: relative;
                        span:nth-of-type(1){
                             font-size: 14px;
                        line-height: 20px;
                               color:#333;
                        }
                        span:nth-of-type(2){
                            font-size: 20px;
                            color: #e73736;
                            display: inline-block;
                            width: 50px;
                            font-weight: bold;
                            margin-left: 20px;
                            line-height: 20px;
                        }
                        span:nth-of-type(3){
                            margin-left: 225px;
                            color: #999;
                            line-height: 20px;
                            font-size: 12px;
                            &:hover{
                                  color: #e73736;
                            }
                            img{
                                display: inline-block;
                                width: 14px;
                                height: 12px;
                            }
                        }
                        .huiyuanbuy{
                            width: 254px;
                            height: 83px;
                            border: 1px solid #eee;
                            position: absolute;
                            top:25px;
                            left: 275px;
                            background: #f8f8f8;
                            display: none;
                            >h3{
                                width: 224px;
                                height: 34px;
                                margin-left: 15px;
                                border-bottom: 1px solid #eee;
                                line-height: 34px;
                                font-size: 16px;
                            }
                            >dl{
                                 margin-left: 15px;
                                 dt{
                                     margin-top: 5px;
                                 }
                                 dt,dd{
                                     font-size: 12px;
                                     color:#333333 ;
                                 }
                            }
                        }
                    }
                    .cont-m-M-p3{
                        margin-top: 17px;
                       
                        span:nth-of-type(1){
                            color: #333;
                            font-size: 14px;
                        }
                        span:nth-of-type(2){
                            margin-left: 18px;
                            color: #999;font-size: 12px;
                        }
                    }
                    .cont-m-M-p4{
                        margin-top: 12px;
                        line-height: 12px;
                        height: 12px;
                        span{
                            font-size: 12px;
                            color: #999;
                        }
                        span:nth-of-type(2){
                            color:#e8378d;
                        }
                    }
                    .cont-m-M-p5{
                        margin-top: 12px;
                        height: 14px;
                        line-height: 14px;
                        span:nth-of-type(1){
                            display: inline-block;
                            width: 42px;
                            letter-spacing:7px;
                            font-size: 14px;
                            color: #333;
                        }
                        span:nth-of-type(2){
                            margin-left: 15px;
                            font-size: 12px;
                            color: #999;
                            i,em{
                                 color:#e8378d;
                            }
                            
                        }
                    }
                    .cont-m-M-p6{
                        margin-top: 20px;
                        height: 32px;
                        line-height: 32px;
                        span:nth-of-type(1){
                            font-size: 14px;color: #333; letter-spacing:7px; display: inline-block;
                            width: 42px;
                        }
                        span:nth-of-type(3){
                            display: inline-block;
                            width: 64px;height: 30px;
                            border-bottom: 1px solid #ccc;
                            border-top: 1px solid #ccc;
                            text-align: center;
                            line-height: 30px;
                            background: #fff;
                            margin-left: -4px;
                        }
                        span:nth-of-type(2){
                            display: inline-block;width: 28px;height: 30px;border: 1px solid #ccc;background: #eee;text-align: center;line-height: 30px;margin-left: 17px;cursor:pointer;  
                        }
                        span:nth-of-type(4){
                            display: inline-block;width: 28px;height: 30px;border: 1px solid #ccc;background: #eee;text-align: center;line-height: 30px;margin-left: -4px;cursor:pointer; 
                        }
                        span:nth-of-type(5){
                            font-size: 12px;
                        }
                    }
                    .cont-m-M-p7{
                        margin-top: 25px;
                        display: flex;
                        position: relative;
                        #t1{
                            width: 106px;
                            height: 40px;
                            background: #ff7700;
                            font-size: 16px;
                            line-height: 40px;
                            text-align: center;
                            border: none;
                            border-radius: 2px;
                            color: #fff;cursor:pointer; 
                        }
                        #t2{
                            width: 122px;
                            height: 40px;
                            background: #e73736;
                            font-size: 16px;
                            line-height: 40px;
                            text-align: center;
                            border: none;
                            border-radius: 2px;
                            color: #fff;
                            margin:0 15px;cursor:pointer; 
                        }
                        #t3{
                            width: 88px;
                            height: 40px;
                            background: #f1f1f1;
                            font-size: 16px;
                            line-height: 40px;
                            text-align: center;
                            border: 1px solid #c4c4c4;
                            border-radius: 2px;
                            color: #999999;cursor:pointer; 
                            &:hover{
                                color:  #e73736;
                                
                            }
                        }
                        .iponepay{
                             width: 108px;
                            height: 38px;
                            background: #fff;
                            font-size: 14px!important;
                            line-height: 38px;
                            text-align: center;
                            border: 1px solid #c4c4c4;
                            border-radius: 2px;
                            color: #999999;
                            margin-left: 15px;cursor:pointer; 
                        }
                        .erweima{
                                width: 110px;
                                height: 110px;
                                border: 1px solid #eee;
                                position: absolute;
                                top: -114px;
                                left:360px;
                                display: none;
                                img{
                                    width: 110px;
                                    height: 110px;
                                }
                            }
                        
                    }
                }
            }
            .cont-m-R{
                float: right;
                width: 198px;
                height: 488px;
                background: #ededed;
                box-shadow: 2px 0px 5px #ccc inset;
            }
        }
    }
    .cont-b{
        width: 1196px;
        margin-top: 16px;
        .cont-b-L{
            border:1px solid #eee;
            width: 968px;
            float: left;
            .cont-b-L-T{
                width: 968px;
                 height: 48px;
                 background: #f3f3f3;
                 border-bottom:1px solid #eee ;
                 ul{
                     display: flex;
                     line-height: 48px;
                     li{
                         font-size: 12px;
                         padding: 0 24px;
                         border-right: 1px solid #eee ;
                         height: 48px;
                         &:hover{
                             background: #fff;
                         }
                         i{
                             color: #e7373b;
                         }
                     }
                     .active3{
                         height: 49px;
                         background: #fff;
                     }
                     
                 }
            }
            .cont-b-L-B{
                width: 968px;
                padding-top: 20px;
                display: block;
            }
            .cont-b-L-B2{
                width: 968px;
                padding-top: 20px;
                display: none;
            }
            .cont-b-L-B2-C{
                width: 926px;
                margin:0 20px 20px 20px;
                border: 1px solid #eee;
                .box-top{
                    width: 926px;
                    height: 112px;
                    display: flex;
                    .box-top-L{
                        width: 521px;
                        border-right: 1px solid #eee;
                        border-bottom: 1px solid #eee;
                        padding: 20px;
                        line-height: 24px;
                        font-size: 12px;
                        p{
                            span{
                                color: #e73736;
                            }
                        }
                        
                    }
                    .box-top-R{
                        width: 324px;
                        border-bottom: 1px solid #eee;
                        height: 88px;
                        font-size: 12px;
                        line-height: 30px;
                        padding: 16px 20px 7px 20px;
                        position: relative;
                        span{
                            display: block;
                            width: 74px;
                            height: 28px;
                            background: rgba(231,55,54,1);
                            font-size: 12px;
                            color: #fff;
                            text-align: center;
                            line-height: 28px;
                            position: absolute;
                            top:78px;
                            right: 10px;
                            border-radius: 2px;
                            cursor: pointer;
                            &:hover{
                                 background: rgba(231,55,54,0.8);
                            }
                        }
                    }
                }
                .box-middle{
                    width: 926px;
                    background: #f3f3f3;
                    border-bottom: 1px solid #eee;
                    height: 50px;
                    line-height:50px;
                    span{
                        padding-left: 20px;
                        font-size: 12px;color: #333333;
                    }
                }
                .box-bottom{
                    position: relative;
                    width: 926px;
                    p{
                        font-size: 12px;
                        padding: 20px 0 77px 20px;
                    }
                    span{
                         display: block;
                        width: 62px;height: 24px;
                        border: 1px solid #eee;
                        position: absolute;
                        font-size: 12px ;
                        color: #dacfcc;
                        line-height: 24px;
                        text-align: center;
                        cursor: pointer;
                    }
                    span:nth-of-type(1){
                       position: absolute;
                       right: 92px;
                       bottom: 45px;
                    }
                    span:nth-of-type(2){
                        position: absolute;
                       right: 20px;
                       bottom: 45px;
                    }
                }
            }
            .cont-b-L-B-T{
                width: 926px;
                height: 69px;
                border: 1px solid #eee;
                margin:0 20px 20px 20px;
                .reduce1,.reduce2{
                        height: 34px;
                    line-height: 34px;
                    display: flex;
                    text-align: end;
                    font-size: 12px;
                    border-bottom: 1px solid #eee;
                    div:nth-of-type(1){
                        width: 185px;
                        background: #f5f5f5;
                        border-radius: 1px solid #eee;
                        color: #333;
                        font-weight: bold;
                    }
                    div:nth-of-type(2){
                        padding-left: 10px;color: #333;
                    }
                }
            }
            .cont-img{
               img{
                  margin: 0 auto;
               } 
            }
        }
        .cont-b-R{
            float: right;
            width: 214px;
            border: 1px solid #eee;
            .cont-b-R-head{
                width: 214px;
                height: 48px;
                border-bottom:1px solid #eee;
                color: #333;
                font-size: 14px;
                background: #f3f3f3;
                text-align: center;
                line-height: 48px;
            }
            .cont-b-R-content{
                ul{
                    li{
                        width: 214px;
                        position: relative;
                        >span{
                            position: absolute;
                            top: 20px;
                            left: 20px;
                            img{
                                width: 25px;
                                height: 25px;
                            }
                        }
                        a{
                            &:hover{
                                p:nth-of-type(2){
                                    color: #e73736;
                                }
                            }
                            p:nth-of-type(1){
                                width: 214px;
                                height: 200px;
                                text-align: center;
                                span{
                                    display: inline-block;
                                    height: 200px;
                                    vertical-align: middle;
                                }
                                img{
                                    display: inline-block;
                                    vertical-align: middle;
                                }
                            }
                            p:nth-of-type(2){
                                margin: 7px 10px;
                                color: #333;
                                font-size: 12px;
                            }
                            p:nth-of-type(3){
                                margin-left: 10px;
                                color: #e7376e;
                                font-size: 14px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}
footer{
    width: 100%;
    height: 347px;
    .foot-1{
        width: 100%;
        background: #3e3a39;
        height: 80px;
        ul{
            width: 1198px;
            height: 80px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            li:nth-of-type(1){height: 80px;line-height:80px;background: url(../img/footer1.png) no-repeat left center;color: #fff; font-size: 14pxs;padding-left: 60px;}
             li:nth-of-type(2){height: 80px;line-height:80px;background: url(../img/footer2.png) no-repeat left center;color: #fff; font-size: 14pxs;padding-left: 60px;}
              li:nth-of-type(3){height: 80px;line-height:80px;background: url(../img/footer3.png) no-repeat left center;color: #fff; font-size: 14pxs;padding-left: 60px;}
               li:nth-of-type(4){height: 80px;line-height:80px;background: url(../img/footer4.png) no-repeat left center;color: #fff; font-size: 14pxs;padding-left: 60px;}
                li:nth-of-type(5){height: 80px;line-height:80px;background: url(../img/footer5.png) no-repeat left center;color: #fff; font-size: 14pxs;padding-left: 60px;}
        }
    }
    .foot-2{
        width: 100%;
        height: 211px;
        background: #f1f1f1;
        .foot-2-1{
            width: 1198px;
            height: 210px;
            margin: 0 auto;
            border-bottom: 1px solid #CFCFCF;
            display: flex;
            justify-content: space-around;
            dl{
                padding-top: 34px;
                dt{
                    font-size: 14px;
                    color: #333;
                    margin-bottom: 16px;
                }
                dd{
                    margin-bottom: 10px;
                    a{
                        font-size: 12px;
                        color: #6d6d6d;
                    }
                    &:hover{
                        a{
                             color: #ff4400;
                                
                        }
                    }
                }
            }
            dl:last-of-type{
                text-align: center;
                dd:nth-of-type(1){
                    img{
                        width: 80px;
                        height: 80px;
                        display: inline-block;
                    }
                }
                dd:last-of-type{
                    width: 120px;
                    height: 30px;
                    background: #ff4400;
                    
                    line-height: 30px;
                    text-align: center;
                    a{color: #fff;font-size: 12px;}
                }
            }
        }
    }
    .foot-3{
        width: 100%;
        height: 56px;
        background: #f1f1f1;
        text-align: center;
        line-height: 56px;
        margin-bottom: 20px;
    }
}
